::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(130, 10, 10, 0.5); 
    background-color: rgba(220,53,69);
    /* RGBA(220,53,69 */
}

.myBanner{
    width: 100%;
    height: 100vh;
    background: url(./images/bg/bg-1.jpg) no-repeat center;
    background-size: cover;
    padding-top:12rem ;
    /* text-align: center; */
}

@media only screen and (max-width: 768px) {
    .myBanner {
      /* height: auto; */
      padding-top: 10rem ;
    }
  }

.myBanner-2{
    width: 100%;
    height: 60vh;
    background: url(./images/bg/bg-2.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 70px;
    /* padding-top:5rem ;
    padding-left: 10rem;
    padding-right: 10rem; */
}

@media only screen and (max-width: 750px) {
    .myBanner-2 {
      height: auto;
      padding: 3rem 0;
    }
  }
  

.my-faq{
    background-color: rgb(240, 228, 240);
}

.my-nav-item a:hover{
    text-decoration: underline;
    color: rgb(129, 36, 36);
}

.my-nav-btn:hover{
    background-color: transparent;
    border: 2px solid rgb(129, 36, 36);
    color: red;
}

